{{ define "head" }}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/metronero.css">
    <link rel="icon" type="image/png" href="assets/img/metronero.png" sizes="32x32">
    <title>Metronero</title>
  </head>
  <body>
  <nav class="navbar px-5 py-2 has-shadow" role="navigation" aria-label="main navigation">
  <input type="checkbox" id="toggler" class="toggler">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="assets/img/metronero-logo.png" alt="Metronero" width=100%>
    </a>

    <label for="toggler" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="metronero-navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
{{ end }}
