<section class="section">
<p class="title is-spaced">Merchants</p>

<p class="subtitle">Select a merchant to configure.<p>

<div class="columns is-multiline is-mobile">
  <div class="column is-narrow">
    <a class="button is-info" href="/admin/merchants/edit/uuid?uname=siren">
    Siren
    </a>
  </div>
  <div class="column is-narrow">
    <a class="button is-info">
    Munstie
    </a>
  </div>
  <div class="column is-narrow">
    <a class="button is-info">
    Duxz
    </a>
  </div>
  <div class="column is-narrow">
    <a class="button is-info">
    Stnby
    </a>
  </div>
  <div class="column is-narrow">
    <a class="button is-info">
    Koutsie
    </a>
  </div>
  <div class="column is-narrow">
    <a class="button is-info">
    Dong
    </a>
  </div>
</div>


<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <a class="button is-primary">
      Prev
    </a>
  </p>
  <p class="control">
    <a class="button is-primary">
      Next
    </a>
  </p>
</div>

</section>
