<section class="hero">
  <div class="hero-body">
    <p class="title">
      Your balance: 0.61 XMR
    </p>
    <p class="subtitle">
      Total profits: 56.24 XMR
    </p>
    <div class="buttons">
      <a class="button is-primary" href="/admin/instance">Manage instance</a>
      <a class="button is-primary is-pulled-right" href="https://moneropay.eu">Docs</a>
    </div>
  </div>
</section>


<section class="section">
<p class="title">Recent withdrawals</p>
<div class="table-container">
<table class="table is-bordered is-striped is-hoverable is-fullwidth is-narrow">
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Siren</td>
      <td>1 XMR</td>
      <td>2023-02-21</td>
    </tr>
    <tr>
      <td>Munstie</td>
      <td>10 XMR</td>
      <td>2023-02-12</td>
    </tr>
  </tbody>
</table>
</div>

<a class="button is-primary is-pulled-right" href="/admin/withdrawals">Go to withdrawal history</a>
</section>
