<section class="section content">
<h1 class="title is-spaced">Instance Settings</h1>

<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Custodial mode</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <label class="radio">
          <input type="radio" name="member">
          On
        </label>
        <label class="radio">
          <input type="radio" name="member">
          Off
        </label>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Default commission rate</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="0.1">
      </div>
      <p class="help">
        Amount in float XMR
      </p>
    </div>
  </div>
</div>


<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Registrations open</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <label class="radio">
          <input type="radio" name="member">
          Yes
        </label>
        <label class="radio">
          <input type="radio" name="member">
          No
        </label>
      </div>
    </div>
  </div>
</div>


<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Withdrawal times</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
<div class="select">
  <select>
    <option>Instant</option>
    <option>Daily</option>
    <option>Weekly</option>
    <option>Manual</option>
  </select>
</div>
    </div>
  </div>
</div>

<button class="button is-primary is-pulled-right">Save</button>
</section>
