<section class="section">
<p class="title">Withdrawals</p>
<div class="table-container">
<table class="table is-bordered is-striped is-hoverable is-fullwidth is-narrow">
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Siren</td>
      <td>1 XMR</td>
      <td>2023-02-21</td>
    </tr>
    <tr>
      <td>Munstie</td>
      <td>10 XMR</td>
      <td>2023-02-12</td>
    </tr>
  </tbody>
</table>
</div>

<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <a class="button is-primary">
      Prev
    </a>
  </p>
  <p class="control">
    <a class="button is-primary">
      Next
    </a>
  </p>
</div>

</section>
